/* 전체 영역 스타일 */
.bookmark-main {
    padding: 5px 40px 40px;
    background-color: #2e2e2e;
  }
  
  /* 제목 스타일 */
  .bookmark-title {
    margin-left: 30px;
    font-weight: lighter;
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    padding: 10px 15px; /* 텍스트 주변 여백 추가 */
  }
  
  .category-filter {
    display: flex;
    gap: 10px; /* 버튼 간 간격 */
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-right: 20px; /* 오른쪽 여백 */
    margin-bottom: 0px; /* 아래쪽 여백 */
  }
  
  .category-button {
    padding: 5px 10px; /* 버튼 내부 여백 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 5px; /* 부드러운 모서리 */
    background-color: #f5f5f5; /* 기본 배경색 */
    color: #333; /* 텍스트 색상 */
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
  }
  

  .category-button.active {
    background-color: #fef399; /* 활성화 상태 배경색 */
    color: #2e2e2e; /* 활성화 상태 텍스트 색상 */
    border-color: #2e2e2e; /* 활성화 상태 테두리 색상 */
  }

  /* 섹션 스타일 */
  .bookmark-section {
    background-color: #fff;
    border-radius: 8px;
    padding: 18px;
  }
  
  /* 갤러리 그리드 */
  .bookmark-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  /* 카드 스타일 */
  .bookmark-card {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
    transition: box-shadow 0.3s ease;
  }
  
  .bookmark-card:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* 썸네일 스타일 */
  .bookmark-thumbnail {
    width: 100%;
    padding-bottom: 100%; /* 정사각형 */
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  /* 카드 제목 스타일 */
  .bookmark-card-title {
    padding-left: 10px;
    color: #000;
    font-size: 16px;
    margin: 0;
  }

  /* 카드 헤더: 제목과 아이콘 같은 줄에 배치 */
.bookmark-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* 아이콘 스타일 */
.bookmark-icon {
  cursor: pointer;
}
  
  /* 카테고리 컨테이너 */
.bookmark-categories {
  padding-left: 10px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/* 각 카테고리 스타일 */
.bookmark-category {
  padding: 5px 10px;
  background-color: #2e2e2e;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
}